.circle {
    width: 300px;
    height: 300px;
    background-color: indigo;
    /* transition unit is seconds 
    You can specify that only background color is changing over 5s
    delay can be added after seconds*/
    transition: background-color 2s 1s;
}

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
}