h1:nth-of-type(1){
    border: 2px solid black;
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    
}

h1:nth-of-type(2){
    border: 2px solid black;
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}

h1:nth-of-type(3){
    border: 2px solid black;
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: skyblue;
    font-family: 'Courier New', Courier, monospace;
}

h1:nth-of-type(4){
    border: 2px solid black;
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: rgb(185, 145, 196);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin-left: 45%;
}
/* transform will allow you to manipulate 
elements */
section:first-of-type h1:nth-of-type(1){
    /*Changes where the element is being rotated from
    transform-origin: bottom right;*/
    transform: rotate(45deg);
}
section:first-of-type h1:nth-of-type(2){
    /*scale will scale elements by both X and Y by defualt or 
    seperately*/
    transform: scale(2,1);
}

section:first-of-type h1:nth-of-type(3){
    /**/
    transform: translateX(50px);
    /*transform: translateY(50px);*/
}

section:first-of-type h1:nth-of-type(4){
    /**/
    transform: translate(-200px,200px);
}

section:nth-of-type(2) h1:nth-of-type(1){
    transform: skew(30deg);
}
section:nth-of-type(2) h1:nth-of-type(2){
    transform: skew(10deg,25deg);
    
}

section:nth-of-type(2) h1:nth-of-type(3){
    transform: rotate(20deg) scale(1.3);
}

section:nth-of-type(2) h1:nth-of-type(4){
    transform: translateX(-300px) rotate(180deg) scaleY(2);
}

section:nth-of-type(2){
    transform: scale(0.7) translateX(300px);
}