body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
ul {
    border: 1px solid red;
    flex:1px;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}
ul,li {
    display: inline-flex; 
    margin: 0;
    padding: 0;
}
/*At a minimum width of 800px the h1 will turn purple.
can also do max-width. 
min-width:600px; everthing equal to or greater than 600px is purple
max-width:800px; everything less than or equal to 800px is orange*/
/* @media (min-width:600px) and (max-width: 800px) { 
    h1 {
        color: purple;
    }
 }  */

/* @media (max-width:1500px){
    h1{
        color: red;
    }
}
@media (max-width:1000px){
    h1{
        color: orange;
    }
} */
/* When body changes to landscape the background color
will change to magenta */
/* @media (orientation: landscape){
    body {
        background-color: magenta;
    }
} */

@media (max-width: 768px){
    h1 {
        font-size: 4em;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 576px){
    h1 {
        font-size: 2em;
    }
}



