h2 {
    color:indigo;
    background-color: rgb(233, 157, 143);

}

button {
    color: #22D1E9;
    background-color: black;
    
}

p {
    color:aqua;
}

body {
    /* the long form of #000 is #000000 */
    background-color: #000;
}